{% extends 'layout.html.twig' %}

{% block title %}Liste des genres{% endblock %}

{% block content %}
    <ul>
        {% for genre in lesGenres %}
            <li><a href="{{ path('leGenre',{id:genre.id}) }}">{{ genre.libelle }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
