{% extends 'layout.html.twig' %}

{% block content %}
    Identifiant : {{ leGenre.id }} <br>
    Libelle : {{ leGenre.libelle }} <br>
    Livres :
    <ul>
        {% for livre in lesLivres %}
            <li><a href="{{ path('unlivre',{id:livre.id}) }}">{{ livre.titre }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block title %}
Détails du genre {{ leGenre.libelle }}
{% endblock %}

