{% extends 'layout.html.twig' %}

{% block title %}Liste des auteurs{% endblock %}

{% block content %}

    <h1>Liste des auteurs</h1>
    <ul>
        {% for auteur in auteurs %}
            <li><a href="{{ path('auteurLivres',{id:auteur.id}) }}">{{ auteur.prenom ~ " " ~ auteur.nom}}</a></li>
        {% endfor %}
    </ul>


<a href="{{ path('index') }}">Accueil</a>

{% endblock %}
