{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Liste des livres écrits par {{ auteur.prenom ~ " " ~ auteur.nom }}</h1>
    <ul>
        {% for livre in livres %}
            <li><a href="{{ path('unlivre',{id:livre.id}) }}">{{ livre.titre }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
