<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BiblioWeb{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    {%  block header %}
        <H1 style="text-align: center"> {{ block('title') }} </H1><HR>
    {% endblock %}

    <div id="content">
        {% block body %}{% endblock %}
    </div>

    {% block footer %}
    <footer>
        Mon site
    </footer>
    {%  endblock %}

    </body>
</html>
