{% extends 'base.html.twig' %}

{% block body %}

    {% block content %} {% endblock %}

    {%  block menu %}
        <div class="menu">
        <a href="{{ path('index') }}">Accueil</a>
        <a href="{{ path('livre') }}">Liste des livres</a>
        <a href="{{ path('auteur') }}">Liste des auteurs</a>
        <a href="{{ path('lesGenres') }}">Liste des genres</a>
        <a href="{{ path('exemplaire') }}">Liste des exemplaires</a>
        <a href="{{ path('apropos') }}">A propos</a>
        {% if app.user %}
            <a href="{{ path('emprunts') }}">Mes emprunts</a>
            <a href="{{ path('app_logout') }}">Se déconnecter ({{ app.user.username }})</a>
        {%  else %}
            <a href="{{ path('app_login') }}">Se connecter</a>
        {% endif %}
        </div>
    {% endblock %}

{% endblock %}
