{% extends 'layout.html.twig' %}

{% block content %}
<ul>
    {% for livre in livres %}
        <li><a href="{{ path('unlivre',{id:livre.id}) }}">{{ livre.titre }}</a></li>
    {% endfor %}
    </ul>
{%  endblock %}
