{% extends 'layout.html.twig' %}

{% block title %}
    Details du livre {{ livre.titre }}
{% endblock %}

{% block content %}
    <h1>{{ livre.titre }}</h1>

    <strong>ISBN :</strong> {{ livre.isbn }}
    <br>
    <strong>Auteur : </strong> {{ livre.auteur.prenom ~ " " ~ livre.auteur.nom }}
    <br>
    <strong>Genres : </strong>
    <ul>
        {% for genre in livre.genres %}
            <li><a href="{{ path('leGenre',{id:genre.id}) }}">{{ genre.libelle }}</a></li>
        {% endfor %}
    </ul>

    <br>
    <strong>Exemplaires : </strong>
    <ul>
        {% for exemplaire in lesExemplaires %}
            <li>Exemplaire {{ exemplaire.numero }}
                {% if exemplaire.dateretour is empty %}
                    disponible
                {% else %}
                    emprunté, retour prévu le {{ exemplaire.dateretour|date('d/m/Y') }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <br>
    <div>
        <strong>Résumé :</strong> {{ livre.resume }}
    </div>
    <br>
{% endblock %}



