{% extends 'layout.html.twig' %}

{% block content %}
    <ul>
        {% for exemplaire in lesExemplaires %}
            <li>Exemplaire {{ exemplaire.numero }} de <a href="{{ path('unlivre',{id:exemplaire.livre.id}) }}">{{ exemplaire.livre.titre }}</a>
                ({{   exemplaire.dateretour is empty ? "disponible" : "emprunté par " ~ exemplaire.emprunteur.prenom ~ " " ~ exemplaire.emprunteur.nom ~ " retour le : " ~ exemplaire.dateretour|date('d/m/Y')}}) </li>
        {% endfor %}
    </ul>
{%  endblock %}